:root {

    /* 

        +-------------------------------+
        |             Colors            |
        +---------+-----------+---------+
        | Primary | Secondary |  Accent |
        +---------+-----------+---------+
        | #F7F7F7 |  #2C3333  | #FC4F4F |
        +---------+-----------+---------+

        Rule: 60% Primary, 30% Secondary, 10% Accent.

    */

    --color-primary: white;/* #f4f4f4 */
    --color-secondary: #2c3333; /* #0f0f0f */
    --color-accent: #fc4f4f; /* #ff5645 */

    --color-hover-accent: #fc4f4f;

    --shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

}


html {
    background-color: var(--color-primary);
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title > *{
    margin: auto;
}

.nav-list {
    float: right;
    list-style: none;
    margin: auto 0;
}

.nav-list li {
    float: right;
    margin: 0;
}

.nav-list li > a {
    padding: 0.5rem 1.5rem;
    display: block;
}

form.search {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

form.search > input {
    margin: 0;
}

form.search > input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form.search > input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cards {
    flex-wrap: wrap;
}

.cards > .column {
    padding-bottom: 2rem;
}

.card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    box-shadow: var(--shadow);
    height: 100%;
}

.card .header {
    position: relative;
}

.card .header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 90%, var(--color-secondary) 100%);

}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
    display: block;
}

.card .content {
    height: 100%;
    background-color: var(--color-secondary);
    padding: 1rem;
    color: white;
}

.card .title {
    display: block;
    margin-bottom: 1rem;
}

.card .episode {
    display: block;
}


.card .countdown {
    text-align: center;
    display: flex;
    padding: 1rem 0;
}

.card .countdown > div {
    width: 100%;
}

.card .countdown > div + div {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.card .countdown *[class^="countdown-"] {
    display: block;
    color: var(--color-accent);
}






.tag {
    background-color: var(--color-accent);
    display: block;
    box-shadow: var(--shadow);
    padding: 3px 10px;
    border-radius: 3px;
    color: white;
}